<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Server=localhost;Database=samples;User Id=postgres;Password=Pa$$word!"
      providerName="Npgsql" />
    <add name="user1" connectionString="Server=localhost;Database=samples;User Id=sample01_user1;Password=Usr_2011#_Xls4168"
      providerName="Npgsql" />
    <add name="user2" connectionString="Server=localhost;Database=samples;User Id=sample01_user2;Password=Usr_2011#_Xls4168"
      providerName="Npgsql" />
  </connectionStrings>
</configuration>
