<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Server=localhost;Database=samples;User Id=postgres;Password=Pa$$word!"
      providerName="Npgsql" />
    <add name="user1" connectionString="Server=localhost;Database=samples;User Id=sample02_user1;Password=Usr_2011#_Xls4168"
      providerName="Npgsql" />
    <add name="user2" connectionString="Server=localhost;Database=samples;User Id=sample02_user2;Password=Usr_2011#_Xls4168"
      providerName="Npgsql" />
    <add name="user3" connectionString="Server=localhost;Database=samples;User Id=sample02_user3;Password=Usr_2011#_Xls4168"
      providerName="Npgsql" />
    <add name="odbc_user1" connectionString="Driver=PostgreSQL Unicode(x64);Server=localhost;Database=samples;Pwd=Usr_2011#_Xls4168;UID=sample02_user1"
        providerName="System.Data.Odbc" />
    <add name="odbc_user2" connectionString="Driver=PostgreSQL Unicode(x64);Server=localhost;Database=samples;Pwd=Usr_2011#_Xls4168;UID=sample02_user2"
        providerName="System.Data.Odbc" />
    <add name="odbc_user3" connectionString="Driver=PostgreSQL Unicode(x64);Server=localhost;Database=samples;Pwd=Usr_2011#_Xls4168;UID=sample02_user3"
        providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>
